[submodule "mail"]
	path = mail
	url = https://github.com/interlegis/docker-ilmail-mailbox.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/interlegis/docker-mariadb-slim.git
[submodule "opendkim"]
	path = opendkim
	url = https://github.com/interlegis/docker-ilmail-opendkim.git
